@import "variables";
@import "mixin";
@import "normalize";
@import "fonts";
@import "blocks/blocks";

*,
*
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
  &::placeholder{
    font-family: "Jeko-SemiBold", sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 29px;
color: #ADADAD;

} 
}

body {
  font-family: sans-serif;
background-color: #ffffff;
color: $color-dark;
}
 
img {
  max-width: 100%;
  height: auto;
}
input{
  outline: none;
}

.d-none {
  display: none;
}
