footer {
  position: sticky;
top: 100%;
  width: 100%;
  // height: 357px;
background-color: #060600;
color: #ffffff;
}

.footer-menu{
  padding: 60px 0 87px 0;
  list-style-type: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-item{
  font-family: "Jeko-Light", sans-serif;
font-size: 19px;
font-weight: 300;
line-height: 23px;
color: #999999;
width: 273px;
  
}

.footer-text{
  font-family: "Jeko-Medium", sans-serif;
font-weight: 400;
  color: #ffffff;
  margin-top: 7px;
}

.footer-icon{
margin-right: 15px;
}



@include breakpoint-down(380px){
  .footer-menu{
    flex-direction: column;
  }

  .footer-item{
    margin-top: 50px;
  width: 90%;
    img{
      margin-bottom: 50px;
    }
  }
 .footer-icons{
  //  align-items: center;
   display: flex;
   justify-content: center;
 }
}