.intro{

margin: 0 auto;
}
.text-wrapper{
    // padding-top: 222px;
    margin:100px 0 100px 100px;
}

.intro__title{
   color: $color-dark;
width: 549px;
font-family: "Orbitron", sans-serif;
font-size: 32px;
font-weight: 700;
line-height: 45px;

}

.intro__subtitle{
    font-family: "Jeko-Light", sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
width: 583px;

}

.swipe-btn{
    bottom: 50px;
    font-family: "Jeko-Bold", sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    width: 10px;
    margin: 0 auto;
position: relative;
text-decoration: none;
color: #FF004F;
left: 47%;
    &::before{
        position: absolute;
        content: "";
        background-image: url("../../img/Arrow.svg");
        top: 20px;
        left: 40%;
        width: 15px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        animation: swipe .6s linear infinite;
    }


   
}

@keyframes swipe {
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(17px);
    }
}


@include breakpoint-between(551px, 750px){
.text-wrapper{
    margin-left: 70px;
}
    .intro__subtitle{
    width: 480px;
}
}
@include breakpoint-down(550px){
.text-wrapper{
    width: 90%;
    margin:80px 0 100px 40px;
.intro__title{
    width: 100%;
}
.intro__subtitle{
    width: 100%;
}
}
}
@include breakpoint-down(380px){
    .text-wrapper{
        margin:100px 0 100px 10px;
    }
    .intro__title{
        width: 95%;
font-size: 22px;
line-height: 24px;
letter-spacing: 0em;

    }
     .intro__subtitle{
    width: 100%;
font-size: 16px;
line-height: 19px;
}

}