.servises{
    width: 100%;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    
}

.servises__title{
    font-family: "Orbitron", sans-serif;
font-size: 66px;
margin: 50px;
font-weight: 700;
line-height: 86px;
    text-align: center;
    color: $color-dark;
}

.servises__card{
    height: 400px;
width: 370px;
border-radius: 10px 10px 10px 10px;
box-shadow: 0px 4px 20px 0px #00000029;
background-image: url("../../img/Subtract.svg");
background-size:contain;
position: relative;
background-repeat: no-repeat;
position: relative;
margin:0 30px 30px 0;
background-color: #ffffff;
position: relative;
&:nth-child(3n){
    margin-right: 0;
}


&::before{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 80px 80px 0;
        border-color: transparent #00000009 transparent transparent;
    
}

img{
    z-index: 200;
    margin-top: 10px;
    float: right;
    height: 134px;
width: 216px;

}

span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 78%;
margin-left: 20px;
}
}

.card-more{
    font-family: "Jeko-Bold", sans-serif;
    line-height: 25px;
    position: relative;
    color: #FF004F;
font-size: 20px;
text-decoration: none;
font-weight: 700;
&::before{
    content: "";
    background:url("../../img/Arrow.svg") no-repeat center;
    width: 15px;
    height: 30px;
    position: absolute;
    right: -30px;
    top: 0;
    transform: rotate(-90deg);
}
}

.card__number{
    font-family: "Orbitron", sans-serif;
font-size: 64px;
font-weight: 700;
line-height: 83px;

}

.card__title{
    font-family: "Jeko-Bold", sans-serif;
    margin-top: 15px;
font-size: 28px;
font-weight: 700;
line-height: 35px;
width: 330px;
margin-left: 20px;
text-transform: uppercase;
}

.card__text{
    font-family: "Jeko-Light", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    width: 330px;
margin-left: 20px;
    }

.servises__form{
    position: relative;

    height: 602px;
    top: 17px;
    left: 95px;
width: 578px;
border-radius: 6px;
box-shadow: 0px 6px 30px 0px #0000001F;
display: flex;
flex-direction: column;
align-items: center;
background-color: #ffffff;
}

.form__title{
    font-family: "Orbitron", sans-serif;
font-size: 66px;
font-weight: 700;
line-height: 86px;
text-align: center;
margin-top: 50px;

}

.form__subtitle{
    font-family: "Jeko-Medium", sans-serif;
font-weight: 400;
font-size: 28px;
line-height: 30px;
text-align: center;
margin:5px 0 10px 0;

}


.servises-form__input{
    height: 60px;
width: 470px;
border-radius: 2px;
background-color: rgba(245, 245, 245, 1);
margin-top: 10px;
padding: 20px;
border: none;

}

.servises-form__btn{
    font-family: "Jeko-SemiBold", sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 29px;
    height: 60px;
width: 296px;
border-radius: 30px;
background-color: #FF004F;
border: none;
margin-top: 25px;
color: #ffffff;
}



@include breakpoint-down(380px){

.servises__title{
    margin:20px 0;
}    
.servises__form{
left: 0;
padding:0 22px;
width: 100%;

}
.servises-form__input{
    width: 100%;
}

.servises-form__btn{
    width: 190px;
}

.servises__card{
  margin:10px 0;
}
}