.top-navbar{
    height: 60px;
background-color: #ffffff;

.container{
    height: 100%;
    display: flex;
align-items: center;
justify-content: space-between;
}
}

.address{
    font-family: "Jeko-Light", sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 300;
line-height: 14px;
    display: flex;
    color: #909090;

    .subtitle{
        font-family: "Jeko-Medium", sans-serif;
        font-size: 12px;
        font-weight: 400;
        margin-left: 6px;
       line-height: 13px; 
       color: #747474;
       width: 160px;
    }
}

.icon-wrapper{
    display: flex;
    align-items: center;
    
}
.navbar__icon{
    img{

        width: 32px;
        height: 32px;
    }
}

.search-input{
    background-color: transparent;
    position: absolute;
    padding: 12px;
    height: 100%;
    width: 100%;
    border: none;
}

.search-wrapper{
    height: 34px;
    position: relative;
    width: 200px;
    border-radius: 17px;
    border: 1px solid #F0F2F6;
    background: #F9F9F9;
    position: relative;
    display: flex;
    align-items: center;
}
.search-icon{
    position: absolute;
    right: 10px;
}


.burger-button{
    display: none;
}

@include breakpoint-down(380px){
.address{
    font-size: 11px;
    .subtitle{
        width: 124px;
    }
}

.search-wrapper{
    height: 34px;
    width: 34px;
    padding: 8px;
    border-radius: 50%;
    
    img{
    left: 4px;
    }


}
.burger-button{
    display: block;
    border-radius: 0%;
    margin: 0 0 0 5px;
}

}