
.whatget__title {
  margin-top: 100px;
  margin-bottom: 70px;
  font-family: "Orbitron", sans-serif;
  font-size: 66px;
  font-weight: 700;
  line-height: 86px;
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 1122px;
  height: 580px;
  position: relative;
  background: rgba(243, 240, 240, 1);
  &::before {
    position: absolute;
    content: "";
    top: 275px;
    left: 360px;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    background-color: #ffffff;
  }
  &::after {
    position: absolute;
    content: "";
    top: 275px;
    left: 735px;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    background-color: #ffffff;
  }
}

.skill-card {
  position: relative;
  // padding-top: 40px;
  background-color: #ffffff;
  margin-right: 6px;
  margin-bottom: 6px;
  width: 370px;
  // height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &:nth-child(3n) {
    margin-right: 0;
  }
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    padding: 0;
  }

  &::before {
    position: relative;
    content: "";
    height: 90px;
    width: 90px;
    background-color: rgba(243, 240, 240, 1);
    border-radius: 50%;
    margin-bottom: 60px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 180px;
    top: 40px;
    width: 65px;
    height: 65px;
    background-size: cover;
    background: url("../../img/u_thumbs-up.svg");
  }

  &:nth-child(2) {
    &::after {
      background: url("../../img/u_fire.svg"), no-repeat, center;
    }
  }

  &:nth-child(3) {
    &::after {
      background: url("../../img/u_flask.svg");
    }
  }

  &:nth-child(4) {
    &::after {
      background: url("../../img/u_chart-down.svg");
    }
  }
  &:nth-child(5) {
    &::after {
      background: url("../../img/u_game-structure.svg");
    }
  }

  &:nth-child(6) {
    &::after {
      background: url("../../img/u_shield-check.svg");
    }
  }
}

.skill-card__title {
  font-family: "Jeko-Bold", sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 30px;
text-align: center;
  margin-bottom: 10px;
}

.skill-card__text {
  color: $color-text;
  width: 300px;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 22px;
  font-family: "Jeko-Light", sans-serif;
font-size: 18px;
text-align: center;

}


@include breakpoint-down(380px) {
.whatget__title{
  text-align: center;
  font-size: 33px;
  line-height: 43px;
  margin-top: 50px 0 20px 0;
}

  .skills{
  width: 100%;
  height: 100%;
}  


.skill-card{
  margin: 0;
  width: 49.7%;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  margin-right: 2px;
  margin-bottom: 2px;
  &:nth-child(3){
margin-right: 2px;
  }
  &:nth-child(2n){
margin-right: 0;
  }
  &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6){

&::before{
  top: 25px;
}    
&::after{
  left: 85px;
  top: 70px;
}
  }

  &::after{
    left: 80px;
    top: 50px;
  }
}
.skill-card__title{
font-size: 20px;
line-height: 25px;
text-align: left;
}

.skill-card__text{
font-size: 12px;
line-height: 14px;
text-align: left;
width: 95%;
margin: 0;
padding-bottom: 10px;
}


}

@include breakpoint-down(350px) {
.skills{
  flex-direction: column;
align-items: center;
  .skill-card{
    width: 99%;

    &:nth-child(odd){
      margin-right: 0;
    }
&::after{
  left: 47%;
}

  }
}


}